<app-page-header title="contacts" description="company employees details" icon="fas fa-users">
</app-page-header>
<div class="row mt-3">
    <div class="col-12">
      <h4>Company employees contacts table</h4>
  
      <table class="table table-bordered mt-3">
        <thead>
          <tr>
            <th>No.</th>
            <th>Name</th>
            <th>Email</th>
            <th>Birthday</th>
            <th>Phones</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>Shalom Avraham</td>
            <td>shaloma@gmail.com</td>
            <td>21/07/2029</td>
            <td>
              <ul>
                <li>05254557</li>
                <li>05254553223</li>
              </ul>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
