<app-page-header title="contacts" description="customers contacts details" icon="fas fa-users">
</app-page-header>
<div class="row mt-3">
  <div class="col-12">
    <table *ngIf="contacts.length; else noContacts" class="table table-hover table-borderless table-dark mt-3">
      <thead>
        <tr>
          <th>No.</th>
          <th>Name</th>
          <th>Email</th>
          <th>Birthday</th>
          <th>Phones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let contact of contacts; index as idx">
          <td>{{ idx + 1 }}</td>
          <td>{{ contact.name | titlecase }}</td>
          <td><a [href]="'mailto:' + contact.email">
            {{ contact.email | lowercase }}
          </a></td>
          <td>{{ contact.birthday | date: "dd/MM/yyyy" }}</td>
          <td>
            <ul *ngIf="contact.phones?.length; else noPhones">
              <!-- ? is for checking if phones object exists -->
              <li *ngFor="let phone of contact.phones">
                <a [href]="'tel:' + phone">
                  {{ phone }}
                </a>
              </li>
            </ul>
            <ng-template #noPhones>
              <p><i>No Phones</i></p>
            </ng-template>
          </td>
        </tr>
      </tbody>
    </table>
    <ng-template #noContacts>
      <p><i>No contacts...</i></p>
    </ng-template>
  </div>
</div>
